---
---

@import "{{ site.theme }}";

:root {
	--primary-color: #000;
	--secondary-color: #0a0a0a;
	--text-color: #dadada;
	--table-color: #fff;
}

#theme_changer:hover {
	cursor: pointer;
}

#main_content_wrap {
	background-color: var(--secondary-color);	
}

#header_wrap {
	background: var(--primary-color) url("/assets/images/Banner.png") no-repeat center right;
	background-size: 50%;
}

#footer_wrap {
	background-color: var(--primary-color);
}

#main_content > p {
	font-size: 22px;
	text-align: justify;
	font-weight: 300;
	color: var(--text-color);
}

.inner {
	max-width: 65%;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--text-color);
}

code {
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.64)
}

table {
	border: 1px solid var(--table-color);
}

th {
	color: var(--secondary-color);
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
	border: 1px solid var(--table-color);
	background-color: var(--table-color);
	font-size: 18px;
}

td {
	color: var(--text-color);
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
	border: 1px solid var(--table-color);
	font-size: 18px;
}