---
---

@import "{{ site.theme }}";

:root {
	--primary-color: #000;
	--secondary-color: #0e0d0d;
}

#main_content_wrap {
	background-color: var(--secondary-color);	
}

#header_wrap {
	background: var(--primary-color) url("/assets/images/Banner.png") no-repeat center right;
	background-size: 50%;
}

#footer_wrap {
	background-color: var(--primary-color);
}

#main_content > p {
	font-size: 22px;
	text-align: justify;
	font-weight: 300;
}

.inner {
	max-width: 60%;
}