<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,maximum-scale=2">
		<meta name="theme-color" content="#030303">
		<meta property="og:title" content="{{ site.name_large }} • {{ page.title }}">
		{% if page.description %}
			<meta property="og:description" content="{{ page.description }}">
		{% endif %}
		<meta property="og:image" content="{{ '/assets/images/SCP.png' }}">
		<link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		<link rel="shortcurt icon" href="/assets/images/SCP.png">
		<title>{{ page.title }} | {{ site.name }}</title>
		<script type="text/javascript" src="{{ '/assets/js/theme-changer.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </head>

  <body>
    <div id="header_wrap" class="outer">
        <header class="inner">
					<h1 id="project_title">{{ site.name_large }} - {{ page.title }}</h1>
					{% if page.description %}
						<h2 id="project_tagline">{{ page.description }}</h2>
					{% endif %}
        </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
				<p id="theme_changer" onclick="switchColors()"><u>Switch to Light Theme</u></p>
				<p class="copyright">This guide is hosted and maintained by <a href="{{ site.bisho }}">Bisho</a>. Looking to contribute? You can reach me out on Discord as <code>Bisho#7130</code>. SCP:SF is a Team Fortress 2 gamemode developed by <a href="{{ site.batfox }}">Batfoxkid</a>. All rights go to Batfoxkid for creating the gamemode. SCP:SF is NOT an open source sourcemod plugin.</p>
				<p class="copyright">Content relating to the SCP Foundation, including the SCP Foundation logo, is licensed under Creative Commons Sharealike 3.0 and all concepts originate from http://www.scp-wiki.net and its authors. This guide, being derived from this content, is hereby also released under Creative Commons Sharealike 3.0.</p>
      </footer>
    </div>
  </body>
</html>